/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Estilo personalizado para tarjetas */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Estilo para imágenes */
.img-fluid {
  border-radius: 10px;
}

/* Footer */
footer a {
  color: #F1C40F; /* Amarillo vibrante */
  transition: color 0.3s;
}

footer a:hover {
  color: #FFFFFF;
}