/* Estilos personalizados */

/* Hero Section */
.hero-section {
  background-image: url('./assets/un\ pintor\ haciendo\ una\ obra.png');
  background-size: cover;
  height: 87vh;
}

.hero-overlay {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  bottom: -2.5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Servicios Section */
.card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card-text {
  text-align: justify;
}

/* Pinturas Section */
.carousel-item img {
  height: 400px;
  object-fit: contain;
}

/* Exhibiciones Section */
#exhibiciones img {
  max-height: 400px;
  object-fit: contain;
}

/* Contacto Section */
#contacto img {
  width: 30px;
  height: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
    
  }

  .carousel-item img {
    height: 300px;
  }

  #exhibiciones img {
    max-height: 300px;
  }
}

/* Animaciones y transiciones */
.nav-link,
.btn,
a {
  transition: all 0.3s ease;
}

.nav-link:hover,
.btn:hover {
  transform: translateY(-2px);
}

/* Estilos adicionales para mejorar la apariencia */
body {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none; /* Elimina el fondo predeterminado */
  font-size: 2rem; /* Tamaño del icono */
  color: rgba(0, 0, 0, 0.5); /* Color del icono */
}
