/* Estilo personalizado */
body {
  font-family: 'Arial', sans-serif;
}

.navbar-brand img {
  margin-right: 10px;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 100%; /* La imagen ocupará toda la altura de su contenedor */
  object-fit: cover; /* Asegura que las imágenes se ajusten correctamente */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
}

.btn {
  align-self: flex-medium; /* Alinea el botón a la izquierda */
}