/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Estilo personalizado para precios */
.precio {
  font-size: 1.6rem;
  color: #2C3E50; /* Color del precio */
  font-weight: bold;
}

/* Efecto hover para las tarjetas */
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Footer */
.footer a {
  color: #F1C40F; /* Amarillo vibrante */
  transition: color 0.3s;
}

.footer a:hover {
  color: #FFFFFF;
}