// _cards.scss
@use '../variables' as variables;


.card {
  background-color: variables.$white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: variables.$card-shadow;
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
      transform: translateY(-5px);
  }

  img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      border-radius: 8px;
      object-fit: cover;
  }

  .card-text {
      text-align: justify;
  }

  .card-text2 {
    margin: 50px;
    text-align: center;
  }	

  .card-text3 {
    margin: 10px;
    text-align: center;
    font-size: 3rem;
  }
}
.card-img-top {
  height: 120px;
  width: 100%;
  object-position: top;
}