// _cards.scss
@use '../variables' as variables;


.card {
  background-color: variables.$white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: variables.$card-shadow;
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
      transform: translateY(-5px);
  }

  img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      border-radius: 8px;
      object-fit: cover;
  }

  .precio {
      font-size: 1.6rem;
      color: variables.$secondary-color;
      margin-bottom: 20px;
  }

  .card-text {
      text-align: justify;
  }
}

.card-img-top {
  height: 120px;
  width: 100%;
  object-position: top;
}